.form-select-group {
  width: 50%;
}

label,
.form-input,
.form-select,
.form-btn {
  font-size: 18px;
  font-weight: 550;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input,
.form-select,
.form-btn {
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  font-weight: 400;
}

.form-btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
}

.background-green {
  background-color: #045d2d;
}

.background-red {
  background-color: #c72002;
}

.row-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-green:hover {
  background-color: #144b2e;
}

.background-red:hover {
  background-color: #921702;
}
