.form-select-group {
  width: 50%;
}

label,
.form-input,
.form-select,
.form-btn {
  font-size: 18px;
  font-weight: 550;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form-input,
.form-select,
.form-btn {
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  font-weight: 400;
}

.form-btn {
  background-color: #045d2d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.row-button {
  display: flex;
  justify-content: space-between;
}

.form-btn:hover {
  background-color: #144b2e;
}
