.table-row {
  display: grid;
  grid-template-columns: 60px 1fr 100px 110px 90px;
}

.table {
  display: flex;
  flex-direction: column;
}

.table-field {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.field-name {
  word-break: break-all;
  padding-left: 5px;
  padding-right: 5px;
}

.table-header {
  font-weight: bold;
}

.padding-vertical-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  padding: 0 2px;
}

.table-button {
  padding: 0;
  width: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-button {
  cursor: pointer;
  background-color: #f3efff;
}

.sort-button:hover {
  background-color: #c3b1fa;
}